<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/style/index.css}"/>
    <script type="text/javascript" th:src="@{/static/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
</head>
<body>
<div class="header">
    <p class="tit">xxxxxxxxxxxxxxxxxxx</p>
    <p class="s-icon"><img class="icon-exit" th:src="@{/static/images/exit.png}"></p>
</div>
<div class="con">
    <div class="m-left">
        <ul class="nav-ul">
            <li class="nav-li">
                <a href="" class="nav-a">导航1</a>
            </li>
            <li class="nav-li">
                <a href="" class="nav-a">导航2</a>
            </li>
            <li class="nav-li">
                <a href="" class="nav-a">导航3</a>
            </li>
            <li class="nav-li">
                <a href="" class="nav-a">导航4</a>
            </li>
            <li class="nav-li">
                <a href="" class="nav-a">导航5</a>
            </li>
        </ul>
    </div>
    <div class="m-right">
        右侧
    </div>
</div>
</body>
</html>