<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/style/index.css}"/>
    <script type="text/javascript" th:src="@{/static/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/script/index.js}"></script>
</head>
<body>
<div class="header">
    <p class="tit">xxxxxxxxxxxxxxxxxxx</p>
    <p class="s-icon"><img class="icon-exit" th:src="@{/static/images/exit.png}"></p>
</div>
<div class="con">
    <div class="m-left">
        <ul class="nav-ul">
            <li class="nav-li">
                <a href="javascript:void(0);" class="nav-a" data_url="/control">主控面板</a>
            </li>
            <li class="nav-li">
                <a href="javascript:void(0);" class="nav-a" >统计分析</a>
            </li>
            <li class="nav-li">
                <a id="doc" href="javascript:void(0);" class="nav-a" data_url="http://localhost:8989/doc.html">接口文档</a>
            </li>
            <li class="nav-li">
                <a href="javascript:void(0);" class="nav-a">行政区划标准管理</a>
            </li>
            <li class="nav-li">
                <a href="javascript:void(0);" class="nav-a">密码修改</a>
            </li>
        </ul>
    </div>
    <div class="m-right">
        <iframe src="http://www.baidu.com" frameborder="no" border="0" scrolling="no"></iframe>
    </div>
</div>
<script>
    $(function () {
        //初始化iframe页面高、宽
        $(".m-right iframe").width($(window).width()-240);
        $(".m-right iframe").height($(window).height()-87);

        $(".m-left .nav-a").click(function (res){
            url = $(res.target).attr("data_url");
            $(".m-right iframe").attr('src',url);
        });
    })
</script>
</body>
</html>