<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta charset="UTF-8">
<title>Title</title>

<link rel="stylesheet" type="text/css" th:href="@{/static/style/base.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/static/style/login.css}"/>

</head>
<body>
<div class="bg">
    <div class="wrap">
        <p class="m-tit"><!--<i></i>--><span>xxxxxxxxxxxxx</span></p>
        <div class="m-div">
            <p class="tit1">欢迎登录</p>
            <div class="info-space">
                <div class="m-div2">
                    <input type="text" class="m-input username">
                    <p class="icon-username m-icon"></p>
                    <span>请输入用户名</span>
                </div>
                <div class="m-div2">
                    <input type="text" class="m-input password">
                    <p class="icon-password m-icon"></p>
                    <span>请输入密码</span>
                </div>
                <div class="appoint pointstyle">
                    <a class="btn" href="#" id="">登录</a>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>