<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta charset="UTF-8">
<title>Title</title>

<link rel="stylesheet" type="text/css" th:href="@{/static/style/base.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/static/style/login.css}"/>
<script type="text/javascript" th:src="@{/static/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
</head>
<body>
<div class="bg">
    <form id="sForm" th:action="@{/login}" th:method="post">
        <div class="wrap">
            <p class="m-tit">
                <span>XX系统</span>
            </p>
            <div class="m-div">
                <p class="tit1">欢迎登录</p>
                <div class="info-space">
                    <div class="m-div2">
                        <input name="username" type="text" class="m-input username" placeholder="请输入用户名">
                        <p class="icon-username m-icon"></p>
                        <span></span>
                    </div>
                    <div class="m-div2">
                        <input name="password" type="password" class="m-input password" placeholder="请输入密码">
                        <p class="icon-password m-icon"></p>
                        <span></span>
                    </div>
                    <div class="appoint pointstyle">
                        <a class="btn" href="#" id="login">登录</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        $('#login').bind('click', function () {
            $('#sForm').submit();
        });
        var basePath = '[[${#httpServletRequest.getScheme()+"://"+#httpServletRequest.getServerName()+":"+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()}]]';
        if (window.parent.length > 0) { /* 避免session超时嵌套 */
            window.parent.location = basePath + '/login.html';
        }
        /*var message = $("#message").val();
        if (!!message) {
            layer.msg(message, {icon: 2, timeout: 1000, shade: [0.8, '#393D49'], shadeClose: true});
        }*/
    });

</script>
</body>
</html>